Repository biface/chromatography: changes, and which Codecov flags are due for each by the changed paths.
All: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models, Visualization

Path conditions:
  Core Architecture: any of: src/physics/traits.rs, src/physics/data.rs, src/solver/traits.rs, src/solver/mod.rs, but not: tests/, examples/, benches/, **/*_test.rs
  Physical Models: any of: src/physics/**, but not: tests/, examples/, benches/, **/*_test.rs
  Numerical Solvers: any of: src/solver/**, but not: tests/, examples/, benches/, **/*_test.rs
  Langmuir Models: any of: src/models/**, but not: tests/, examples/, benches/, **/*_test.rs
  Visualization: any of: src/output/visualization/**, but not: tests/, examples/, benches/, **/*_test.rs

feat(physics): introduce ComputeContext and migrate compute_physics signature
  benches/solver_performance.rs
  examples/diffusion.rs
  src/lib.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/steady.rs
  src/physics/context.rs
  src/physics/mod.rs
  src/physics/traits.rs
  src/solver/methods/euler.rs
  src/solver/methods/mod.rs
  src/solver/methods/rk4.rs
  src/solver/mod.rs
  src/solver/scenario.rs
  src/solver/traits.rs
  tests/common/mock_models.rs
Due: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models, Visualization

docs(domain): translate module documentation to English
  src/domain/column.rs
  src/domain/detector.rs
  src/domain/mod.rs
  src/domain/phases.rs
  src/domain/sample.rs
Due: none

feat(models): add from_domain constructors to LangmuirSingle and LangmuirMulti
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
Due: Langmuir Models

feat(domain): add domain/ module — Column, MobilePhase, Sample, Detector
  src/domain/column.rs
  src/domain/detector.rs
  src/domain/mod.rs
  src/domain/phases.rs
  src/domain/sample.rs
  src/lib.rs
Due: none

chore(release): bump version to 0.3.0
  CHANGELOG.md
  Cargo.toml
Due: none

fix(models): use N_bar=(1-eps)*N in derivative_isotherm [#42]
  src/models/langmuir_single.rs
Due: Langmuir Models

fix(solver): evaluate RK4 stages k2/k3/k4 at correct intermediate times [#42]
  src/solver/methods/rk4.rs
Due: Numerical Solvers

fix(models): replace Dirac Gaussian approximation with exact discrete equality [#42]
  src/models/injection.rs
Due: Langmuir Models

feat(validation): scientific validation crate — dissimilarity protocol DD-012 [#17, #42]
  Cargo.toml
  validation/dissimilarity.rs
  validation/main.rs
  validation/reference.rs
  validation/reference/tfa_single.csv
Due: none

chore: bump version to 0.4.0, update CHANGELOG
  CHANGELOG.md
  Cargo.toml
Due: none

feat(validation): add multi-species reference cases (#43)
  validation/main.rs
  validation/reference.rs
Due: none

docs(validation): correct citations to Aris (1959) and Nicoud (2015) §7.1 (#43)
  validation/dissimilarity.rs
  validation/reference.rs
Due: none

feat(examples): add on-demand validation report (#44)
  examples/validation_report.rs
Due: none

fix(physics): replace ambiguous pi-like literal in test_outlet_data_scalar
  src/physics/traits.rs
Due: Core Architecture, Physical Models

fix(clippy): resolve --all-targets warnings across src/examples/benches/tools/tests
  benches/langmuir_performance.rs
  benches/solver_performance.rs
  examples/acids_from_config.rs
  examples/acids_multi.rs
  examples/diffusion.rs
  src/models/langmuir_multi.rs
  src/physics/data.rs
  src/solver/boundary.rs
  src/solver/methods/euler.rs
  src/solver/methods/rk4.rs
  src/solver/mod.rs
  tests/solver_convergence.rs
  tools/plot_species_response_curve.rs
Due: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models

ci: extend clippy job to --all-targets
  .github/workflows/ci.yml
Due: none

chore: bump version to 0.4.1
  CHANGELOG.md
  Cargo.toml
Due: none

chore(cli): migrate to dynamic-cli 0.6.0
  CHANGELOG.md
  Cargo.toml
  src/cli/app.rs
  src/cli/mod.rs
  tests/cli_integration.rs
Due: none

docs(benches,tools): English-only run-and-plot introductions
  benches/langmuir_performance.rs
  benches/solver_performance.rs
  tools/plot_parallelism_threshold.rs
  tools/plot_species_response_curve.rs
Due: none

feat(examples): CLI-ready configs for validated reference cases
  examples/config/ascorbic_erythorbic/model.yml
  examples/config/ascorbic_erythorbic/scenario.yml
  examples/config/ascorbic_erythorbic/solver_euler.yml
  examples/config/ascorbic_erythorbic/solver_rk4.yml
  examples/config/glucose_fructose/model.yml
  examples/config/glucose_fructose/scenario.yml
  examples/config/glucose_fructose/solver_euler.yml
  examples/config/glucose_fructose/solver_rk4.yml
Due: none

feat(examples): wall-clock solve timing in validation_report
  examples/validation_report.rs
Due: none

feat(bench,tools): end-to-end solve time for real reference cases (group 6)
  benches/langmuir_performance.rs
Due: none

feat(tools): cost-vs-accuracy visualization
  tools/plot_cost_accuracy.rs
Due: none
