Repository biface/chromatography: changes, and which Codecov flags are due for each by the changed paths.
All: physics, solver, models, visualization, domain, cli

feat(langmuir):adding a single specie model using Langmuir isotherm.
  Cargo.toml
  benches/solver_performance.rs
  src/lib.rs
  src/models/langmuir_single_simple.rs
  src/models/mod.rs
Due: models

chores:updating codecov configuration
  .codecov.yml
Due: none

chores:updating .gitignore and Cargo.toml files.
  .gitignore
  Cargo.toml
Due: none

doc:cleaning documentation
  src/lib.rs
  src/models/langmuir_single_simple.rs
  src/models/mod.rs
  src/physics/data.rs
  src/physics/mod.rs
  src/solver/boundary.rs
  src/solver/methods/euler.rs
  src/solver/methods/mod.rs
  src/solver/methods/rk4.rs
Due: physics, solver, models

feat(output):introducing cvs and plot funtions.
  src/output/export/csv.rs
  src/output/export/mod.rs
  src/output/mod.rs
  src/output/visualization/mod.rs
  src/output/visualization/static_plots.rs
Due: none

fix(models):WIP:introduction injection in boundary conditions.
  src/models/injection.rs
  src/models/langmuir_single.rs
Due: models

feat(visualization):refactoring visualization module and adding chromatogram functions.
  src/output/mod.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/config.rs
  src/output/visualization/mod.rs
  src/output/visualization/static_plots.rs
  src/output/visualization/steady.rs
Due: none

chores:cleaning imports and updating some functions or re-exports.
  src/lib.rs
  src/models/injection.rs
Due: models

fix(workflow):adding system dependencies due to font library needed with chromatogram visualization.
  .github/workflows/coverage.yml
Due: none

feat(model):adding multi species Langmuir isotherm physical model with parallel performance options.
  src/models/langmuir_multi.rs
Due: models

chores(examples): introduction of a few examples
  Cargo.toml
  examples/acids_multi.rs
  examples/diffusion.rs
  examples/high_load.rs
  examples/tfa.rs
Due: none

feat(output): the module has been updated and improved to take into account multiple species to be represented graphically and CSV exports.
  src/output/export/csv.rs
  src/output/export/mod.rs
  src/output/mod.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/mod.rs
  src/output/visualization/steady.rs
Due: none

Merge pull request #5
  .codecov.yml
  .github/workflows/coverage.yml
  .gitignore
  Cargo.toml
  benches/solver_performance.rs
  docs/katex-header.html
  examples/acids_multi.rs
  examples/diffusion.rs
  examples/high_load.rs
  examples/tfa.rs
  src/lib.rs
  src/models/injection.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/models/langmuir_single_simple.rs
  src/models/mod.rs
  src/output/export/csv.rs
  src/output/export/mod.rs
  src/output/mod.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/config.rs
  src/output/visualization/mod.rs
  src/output/visualization/steady.rs
  src/physics/data.rs
  src/physics/mod.rs
  src/solver/boundary.rs
  src/solver/methods/euler.rs
  src/solver/methods/mod.rs
  src/solver/methods/rk4.rs
  src/solver/mod.rs
Due: physics, solver, models

chores:mirroring projet on GitLab.
  .github/workflows/mirror.yml
Due: none

tests:improved test on injection and single specie langmuir physical model.
  src/models/injection.rs
  src/models/langmuir_single.rs
Due: models

feat(bench):enhanced benchmarks to study parallelism and large number of species. added tools in order to plot this analyzes.
  Cargo.toml
  benches/langmuir_performance.rs
  benches/solver_performance.rs
  tools/plot_parallelism_threshold.rs
  tools/plot_species_response_curve.rs
Due: none

fix(visualization):A chromatograph provides a cumulative view of the product curves, so the multi function is modified to reproduce what should be visible on a chromatogram.
  src/output/visualization/chromatogram.rs
Due: none

chore(ci): set up automation tooling for chrom-rs
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/decision.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/release-drafter-semver.yml
Due: none

docs: enable and fix all doc-tests across core modules
  src/models/langmuir_single.rs
  src/output/export/csv.rs
  src/output/export/mod.rs
  src/output/mod.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/config.rs
  src/output/visualization/mod.rs
  src/output/visualization/steady.rs
  src/solver/methods/rk4.rs
  src/solver/mod.rs
  src/solver/traits.rs
Due: solver, models

style: apply cargo fmt to core modules
  benches/langmuir_performance.rs
  benches/solver_performance.rs
  examples/acids_multi.rs
  examples/diffusion.rs
  examples/high_load.rs
  examples/tfa.rs
  src/lib.rs
  src/models/injection.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/models/mod.rs
  src/output/export/csv.rs
  src/output/export/mod.rs
  src/output/mod.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/config.rs
  src/output/visualization/mod.rs
  src/output/visualization/steady.rs
  src/physics/data.rs
  src/physics/mod.rs
  src/physics/traits.rs
  src/solver/boundary.rs
  src/solver/methods/euler.rs
  src/solver/methods/mod.rs
  src/solver/methods/rk4.rs
  src/solver/mod.rs
  src/solver/scenario.rs
  src/solver/traits.rs
  tests/common/mock_models.rs
  tests/common/mod.rs
  tests/common/test_helpers.rs
  tests/integration_physics_solver.rs
  tests/solver_convergence.rs
  tools/plot_parallelism_threshold.rs
  tools/plot_species_response_curve.rs
Due: physics, solver, models

chore: untrack langmuir_single_simple.rs (kept locally, out of scope)
  .gitignore
  src/models/langmuir_single_simple.rs
Due: models

fix(ci): rename and relocate release-drafter config to .github/
  .github/release-drafter-semver-template.yml
  .github/workflows/release-drafter.yml
Due: none

fix(ci): install fontconfig system dependency in CI jobs
  .github/workflows/ci.yml
Due: none

chore: add CHANGELOG.md and update project status
  CHANGELOG.md
Due: none

style: suppress remaining clippy warnings with targeted `#allow` directives and fixes.
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/output/export/csv.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/config.rs
  src/output/visualization/steady.rs
  src/solver/methods/euler.rs
  src/solver/methods/rk4.rs
  src/solver/scenario.rs
  tools/plot_parallelism_threshold.rs
  tools/plot_species_response_curve.rs
Due: solver, models

style: apply rustfmt for code style compliance
  src/models/langmuir_multi.rs
  src/output/visualization/config.rs
Due: models

chore: upgrade dynamic_cli to 0.2.0 and nalgebra to 0.34.2
  CHANGELOG.md
  Cargo.toml
Due: none

chore: add typetag, serde_yaml and activate nalgebra/serde-serialize
  Cargo.toml
Due: none

feat(physics): add Serialize/Deserialize to PhysicalQuantity, PhysicalData and PhysicalState
  src/physics/data.rs
  src/physics/traits.rs
Due: physics

fix(tests): update PhysicalQuantity::Custom usages after &'static str → String migration
  tests/common/mock_models.rs
  tests/common/test_helpers.rs
Due: none

feat(models): add Serialize/Deserialize to TemporalInjection
  src/models/injection.rs
Due: models

test(models): add serde round-trip tests for TemporalInjection
  src/physics/data.rs
Due: physics

fix(ci): Fixed the repository mirroring mode to support all branches and tags.
  .github/workflows/mirror.yml
Due: none

feat(models): add Serialize/Deserialize and typetag::serde to all PhysicalModel implementors
  benches/solver_performance.rs
  examples/diffusion.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/steady.rs
  src/physics/traits.rs
  src/solver/methods/euler.rs
  src/solver/methods/rk4.rs
  src/solver/scenario.rs
  src/solver/traits.rs
  tests/common/mock_models.rs
Due: physics, solver, models

fix(docs): add serde derives to PhysicalModel doc-test structs
  src/lib.rs
  src/physics/mod.rs
  src/solver/methods/mod.rs
  src/solver/mod.rs
Due: physics, solver

feat(solver): add Serialize/Deserialize to DomainBoundaries, DimensionBoundary and TimeAxisConvention
  src/solver/boundary.rs
Due: solver

feat(solver): add Serialize/Deserialize to Scenario
  src/solver/scenario.rs
Due: solver

Path conditions:
  physics: any of: src/physics/, but not: tests/**/*, examples/**/*, benches/**/*, **/tests.rs, **/test_*.rs
  solver: any of: src/solver/, but not: tests/**/*, examples/**/*, benches/**/*, **/tests.rs, **/test_*.rs
  models: any of: src/models/, but not: tests/**/*, examples/**/*, benches/**/*, **/tests.rs, **/test_*.rs
  visualization: any of: src/visualization/, but not: tests/**/*, examples/**/*, benches/**/*, **/tests.rs, **/test_*.rs
  domain: any of: src/domain/, but not: tests/**/*, examples/**/*, benches/**/*, **/tests.rs, **/test_*.rs
  cli: any of: src/cli/, but not: tests/**/*, examples/**/*, benches/**/*, **/tests.rs, **/test_*.rs
