Repository biface/chromatography: changes, and which Codecov flags are due for each by the changed paths.
All: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models, Visualization

feat(solver): add Serialize/Deserialize to SolverType, SolverConfiguration and SimulationResult.
  src/solver/traits.rs
Due: Core Architecture, Numerical Solvers

feat(physics): enable ndarray serde and Serialize/Deserialize to PhysicalData::Array.
  Cargo.toml
  src/physics/data.rs
Due: Core Architecture, Physical Models

style: apply rustfmt to data.rs and remove useless blank lines.
  src/physics/data.rs
Due: Core Architecture, Physical Models

chore(coverage): codecov configuration file updated
  .codecov.yml
Due: none

chore: update CHANGELOG.md for feature/serialize work
  CHANGELOG.md
Due: none

feat(physics): add Exportable trait, ExportError, outlet_data, sample_indices
  src/physics/mod.rs
  src/physics/traits.rs
Due: Core Architecture, Physical Models

feat(models): implement Exportable for LangmuirSingle and LangmuirMulti
  Cargo.toml
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
Due: Langmuir Models

feat(output): add JSON export/import — to_json / from_json
  src/output/export/json.rs
  src/output/export/mod.rs
  src/output/mod.rs
Due: none

chore(changelog): document JSON export in [Unreleased] v0.2.0
  CHANGELOG.md
Due: none

style: applied rustfmt on files.
  src/output/mod.rs
Due: none

feat(v0.2.0): Application Layer — serialization + JSON export (#47)
  .codecov.yml
  .github/workflows/mirror.yml
  CHANGELOG.md
  Cargo.toml
  benches/solver_performance.rs
  examples/diffusion.rs
  src/lib.rs
  src/models/injection.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/output/export/json.rs
  src/output/export/mod.rs
  src/output/mod.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/steady.rs
  src/physics/data.rs
  src/physics/mod.rs
  src/physics/traits.rs
  src/solver/boundary.rs
  src/solver/methods/euler.rs
  src/solver/methods/mod.rs
  src/solver/methods/rk4.rs
  src/solver/mod.rs
  src/solver/scenario.rs
  src/solver/traits.rs
  tests/common/mock_models.rs
Due: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models, Visualization

test(models): add Exportable round-trip tests for LangmuirSingle and LangmuirMulti
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
Due: Langmuir Models

feat(solver): add step field to SolverConfiguration for trajectory sampling
  src/solver/traits.rs
Due: Core Architecture, Numerical Solvers

feat(models): add set_injection to LangmuirSingle for config loader (#46)
  src/models/langmuir_single.rs
Due: Langmuir Models

feat(models): add set_injection_all / set_injection_for to LangmuirMulti (#46)
  src/models/langmuir_multi.rs
Due: Langmuir Models

feat(config): add config module with ConfigError, Format dispatch and load_from_file (#46)
  src/config/mod.rs
Due: none

feat(physics,models): add set_injections to PhysicalModel trait and Langmuir models (#46)
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/physics/traits.rs
Due: Core Architecture, Physical Models, Langmuir Models

feat(config): implement model, scenario and solver file loaders (closes #33, #46)
  src/config/mod.rs
  src/config/model.rs
  src/config/scenario.rs
  src/config/solver.rs
  src/lib.rs
Due: none

chore(ci): update codecov components and changelog for v0.2.0 progress (#46)
  .codecov.yml
  CHANGELOG.md
Due: none

chore(docs) : Removal of unnecessary references to project design decisions.
  src/config/mod.rs
  src/config/model.rs
  src/config/scenario.rs
  src/config/solver.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/physics/traits.rs
  src/solver/traits.rs
Due: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models

feat(cli): implement application layer — ChromContext, RunHandler, build_app (#32, #6)
  src/cli/app.rs
  src/cli/commands.yml
  src/cli/mod.rs
Due: none

feat(lib,bin): expose cli module and wire binary entry point (#32)
  src/lib.rs
  src/main.rs
Due: none

docs(changelog): add cli/ entries to v0.2.0 unreleased section
  CHANGELOG.md
Due: none

chore: update cargo-llvm-cov version in Cargo.toml.
  Cargo.toml
Due: none

docs(lib,cli,config,models,output,physics,solver): fix rustdoc warnings and improve module documentation
  src/cli/app.rs
  src/cli/mod.rs
  src/config/mod.rs
  src/config/scenario.rs
  src/config/solver.rs
  src/lib.rs
  src/models/injection.rs
  src/models/mod.rs
  src/output/export/json.rs
  src/output/export/mod.rs
  src/output/visualization/mod.rs
  src/physics/mod.rs
  src/solver/mod.rs
Due: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models, Visualization

chore(examples,tests,solver): fix unused import and dead_code warnings
  examples/acids_from_config.rs
  examples/tfa_from_config.rs
  src/solver/scenario.rs
  tests/common/mock_models.rs
  tests/common/mod.rs
  tests/common/test_helpers.rs
Due: Numerical Solvers

feat(v0.2.0): Application Layer — CLI, config loaders, examples, tests, rustdoc (#48)
  .codecov.yml
  CHANGELOG.md
  Cargo.toml
  examples/acids_from_config.rs
  examples/config/acids/model.yml
  examples/config/acids/scenario.yml
  examples/config/acids/scenario_gaussian.yml
  examples/config/acids/solver_euler.yml
  examples/config/acids/solver_rk4.yml
  examples/config/tfa/model.yml
  examples/config/tfa/scenario_dirac.yml
  examples/config/tfa/scenario_gaussian.yml
  examples/config/tfa/solver_euler.yml
  examples/config/tfa/solver_rk4.yml
  examples/tfa_from_config.rs
  src/cli/app.rs
  src/cli/commands.yml
  src/cli/mod.rs
  src/config/mod.rs
  src/config/model.rs
  src/config/scenario.rs
  src/config/solver.rs
  src/lib.rs
  src/main.rs
  src/models/injection.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/models/mod.rs
  src/output/export/json.rs
  src/output/export/mod.rs
  src/output/visualization/mod.rs
  src/physics/mod.rs
  src/physics/traits.rs
  src/solver/mod.rs
  src/solver/scenario.rs
  src/solver/traits.rs
  tests/cli_integration.rs
  tests/common/mock_models.rs
  tests/common/mod.rs
  tests/common/test_helpers.rs
Due: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models, Visualization

chore(release): prepare v0.2.0 for crates.io publication (#37)
  CHANGELOG.md
  Cargo.toml
  LICENSE-APACHE
  README.fr.md
  README.md
Due: none

fix(release): since toolchain is up to 1.85, version is at least "2024".
  Cargo.toml
Due: none

refactor(models): align LangmuirSingle field names with LangmuirMulti
  benches/langmuir_performance.rs
  examples/config/tfa/model.yml
  src/cli/app.rs
  src/config/model.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
Due: Langmuir Models

feat(domain): add domain/ module — Column, MobilePhase, Sample, Detector
  src/domain/column.rs
  src/domain/detector.rs
  src/domain/mod.rs
  src/domain/phases.rs
  src/domain/sample.rs
  src/lib.rs
Due: none

docs(domain): translate module documentation to English
  src/domain/column.rs
  src/domain/detector.rs
  src/domain/mod.rs
  src/domain/phases.rs
  src/domain/sample.rs
Due: none

feat(physics): introduce ComputeContext and migrate compute_physics signature
  benches/solver_performance.rs
  examples/diffusion.rs
  src/lib.rs
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
  src/output/visualization/chromatogram.rs
  src/output/visualization/steady.rs
  src/physics/context.rs
  src/physics/mod.rs
  src/physics/traits.rs
  src/solver/methods/euler.rs
  src/solver/methods/mod.rs
  src/solver/methods/rk4.rs
  src/solver/mod.rs
  src/solver/scenario.rs
  src/solver/traits.rs
  tests/common/mock_models.rs
Due: Core Architecture, Physical Models, Numerical Solvers, Langmuir Models, Visualization

feat(models): add from_domain constructors to LangmuirSingle and LangmuirMulti
  src/models/langmuir_multi.rs
  src/models/langmuir_single.rs
Due: Langmuir Models

docs(domain): fix rustdoc intra-doc links and language
  src/domain/mod.rs
  src/domain/sample.rs
Due: none

Path conditions:
  Core Architecture: any of: src/physics/traits.rs, src/physics/data.rs, src/solver/traits.rs, src/solver/mod.rs, but not: tests/, examples/, benches/, **/*_test.rs
  Physical Models: any of: src/physics/**, but not: tests/, examples/, benches/, **/*_test.rs
  Numerical Solvers: any of: src/solver/**, but not: tests/, examples/, benches/, **/*_test.rs
  Langmuir Models: any of: src/models/**, but not: tests/, examples/, benches/, **/*_test.rs
  Visualization: any of: src/output/visualization/**, but not: tests/, examples/, benches/, **/*_test.rs
